<app-ng-zone-counter></app-ng-zone-counter>

<h3 appAfterViewChecked>Introduction</h3>
<p>
  Angular has a built-in mechanism for detecting changes, it works pretty well, and helps us in updating views, but not
  working with it correctly can lead to poor optimization of the application, as a result, your application starts to
  work slowly, has some bugs etc. and it becomes quite difficult to find what exactly went wrong.
  This time we will talk about <code>NgZone</code>, how it is called, and how to optimize its operation, because if we
  do not control
  <code>NgZone</code>, we may not notice the bugs that we made at the design stage of the component
</p>

<h3>But first! How Detection Changes works?</h3>

In general terms, it works like this:

<ol>
  <li>
    You perform one of the following events:
    <ul>
      <li>HTTP request</li>
      <li>Some native event (<code>click</code>, <code>scroll</code>, <code>mouseup</code> etc.)</li>
      <li>Angular <code>@Output</code></li>
      <li>Timers and Intervals. This events also include:
        <ul>
          <li><code>setTimout</code>, <code>setInterval</code></li>
          <li>rxjs observables like <code>timer</code>, <code>interval</code></li>
          <li>rxjs operators like <code>debounceTime</code>, <code>delay</code> etc.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    The Angular catches these events using the <code>zone.js</code> library (also in the Angular for working with <code>zone.js</code>
    there is a
    global <code>NgZone</code> service), and make the <code>NgZone</code> unstable
  </li>
  <li>
    If any component has been marked for checking for changes using the <code>ChangeDetectorRef.markForCheck()</code>
    method (and if this event was called from a template, then the component was marked for checking for changes.)
    or you have components with <code>ChangeDetectorStrategy.Default</code> in the application, Angular will
    check and update the view of such components, then Angular make <code>NgZone</code> stable.
  </li>
</ol>

<h3>Important notes</h3>

<p>Here we are talking only about <code>OnPush</code> strategy.</p>

<p>
  If an update is triggered by an event in the template, the Angular automatically calls <code>markForCheck</code> from
  this component, and marks all components up the tree for updating, after that <code>NgZone</code> starts and starts
  the process of
  detecting changes.
</p>

<p>
  If you subscribe to some event from the component code, using <code>RxJS</code> you should call
  <code>markForCheck</code> yourself, because the Angular is unable to determine without a template which component
  caused the <code>NgZone</code> to trigger
</p>

<h3>So okay, but where is the problem?</h3>

<p>
  The problem is in native events that often emit values, such as <code>scroll</code>, <code>mousemove</code> etc., as
  well as in timers and intervals.
</p>

<h5>As for events:</h5>
<p>Usually in such events you make a filter with a certain condition, for example, when you scrolled the
  page almost to the end of the screen, you load additional items into the list.

  Or if the mouse is pointed at a certain combination of X and Y coordinates, you show something.
</p>

<h5>As for timers and intervals:</h5>
<p>
  Approximately the same usage, for example, you create an interval and check the condition, and if it is passed, then
  continue executing the code.
</p>

<h3>It's about the filter!</h3>

<p>
  The fact is that the Angular does not care whether your condition was passed or not, it only tracks the triggering
  of events, and run <code>NgZone</code>.
</p>

<p>
  This may hide some bugs of the application, for example, you have a clock on the page that is updated every second,
  and
  a component with a bug, the component updates its state, you see how it changes, etc., it works fine,
  but if you remove the clock from the page, then your component stops working. Why? Because you initially made a bug in
  its design, but due to the fact that the clock called <code>NgZone</code> every second, you didn't notice it.
  Yeah, this happens. Because sometimes developers don't understand how <code>markForCheck</code> works.
  So the most optimized approach it`s using <code>ngZone</code> only if it needs, and avoid his idle calls.
</p>

<p>
  To see this, I created a special directive that causes the background to blink every time the Angular starts checking
  for changes, and you can also see a special counter that displays how many times the angular has called
  <code>NgZone</code>.
</p>

<p>
  Also, a component with a random number generates it every 50 milliseconds and calls <code>markForCheck</code>,
  but I specifically detached it from <code>NgZone</code> so as not to affect it, so you can see that it is updated
  only when some other event triggers <code>NgZone</code>, such as <code>mousemove</code> in the components below.
</p>

<p>
  Just look at the demo, despite the fact that I filter the result by <code>throttleTime</code> operator, the
  Angular calls <code>NgZone</code> for each triggering of the event.
</p>

<app-native-mouse-move></app-native-mouse-move>

<h3>What can we do with that?</h3>

<p>
  We can use special <code>NgZone</code> methods such as <code>runOutsideAngular</code> and <code>run</code> in order to
  output our event from <code>NgZone</code> and enter it back when we have the result.
</p>

<app-ng-zone-mouse-move></app-ng-zone-mouse-move>

<h3>Or, we can do better!</h3>

<p>
  We can use a special operator to output the observable from <code>NgZone</code> and enter it back when we have the
  result automatically!
</p>

<app-ng-zone-operator-mouse-move></app-ng-zone-operator-mouse-move>

<h3>So, what we have...</h3>

<p>
  As you can see now <code>NgZone</code> is called only when we get the result in our component, thus observing these
  rules, we can not be afraid that somewhere some component will suddenly stop working. All application is optimized!
</p>

<h3>But you have to remember!</h3>

<ul>
  <li>
    Do not use standard binding in component templates for events that trigger frequently, such as <code>scroll</code>,
    <code>mousemove</code>, because they do not just call <code>NgZone</code>, they also run a full checking for changes
    up the component's tree, so the Angular will check all the bindings in the components, and if you return any result
    from getters or functions, the Angular will also call them in order to check if the result has changed. That's not
    cool! Use the observable for that, and <code>NgZone</code>!
  </li>
  <li>
    If you have a <code>setTimout</code> or <code>setInterval</code> with a filter, use <code>NgZone</code> to avoid
    affecting the update of other parts of the application.
  </li>
  <li>
    If you use an observable with any operator or method that causes a delay such as <code>debounceTime</code>, <code>delay</code>
    etc., use a special operator, or output it yourself later from <code>NgZone</code>
  </li>
  <li>
    If you have created a regular observable without delays, you don't need to do anything!
  </li>
</ul>

<h3>A little bit about ChangeDetectorRef methods...</h3>

<p>This service has two methods for launching template updates</p>

<ul>
  <li>
    <code>markForCheck</code> - Simply marks the components up the component's tree that they need to be checked, the
    check will start when the <code>ApplicationRef.tick()</code> was called. The tick that Angular calls when
    <code>NgZone</code> is triggered.
  </li>
  <li>
    <code>detectChanges</code> - starts updating the template immediately, for the current component and its children,
    if they have changed at least one <code>@Input</code>, this method does not affect <code>NgZone</code>
  </li>
</ul>


<h2>That's it!</h2>
